
        BODY.page-[INTIMATE1] {
            background-image: url('../assets/this%20is%20the%20way%20I%20want%20it%5D') 
        }
    
        .body-initial {
            background-color: rgba(120,15,200,1); 
            background-repeat: no-repeat; 
            background-attachment: scroll; 
            background-size: auto; 
            background-position: top center; 
            background-image: url('../assets/the%20way%20I%20want%20it.jpg'); 
            border-style: outset; 
        }
        .silex-id-1476788490331-4 {
            min-height: 100px; 
            width: 277px; 
            top: 49444px; 
            left: 49171px; 
        }
        .silex-id-1476789654448-7 {
            min-height: 142px; 
            width: 258px; 
            top: 83px; 
            left: 24px; 
        }
        .silex-id-1476800142127-6 {
            min-height: 746px; 
            width: 496px; 
            top: 3200px; 
            left: 100px; 
        }
        .silex-id-1476800160497-7 {
            min-height: 728px; 
            width: 500px; 
            top: 4100px; 
            left: 100px; 
        }
        .silex-id-1476800174808-8 {
            min-height: 760px; 
            width: 540px; 
            top: 5000px; 
            left: 100px; 
        }
        .silex-id-1476800189969-9 {
            min-height: 540px; 
            width: 540px; 
            top: 5900px; 
            left: 100px; 
        }
        .silex-id-1476800238949-11 {
            min-height: 784px; 
            width: 540px; 
            top: 6625px; 
            left: 109px; 
        }
        .silex-id-1476801264826-13 {
            min-height: 806px; 
            width: 540px; 
            top: 7700px; 
            left: 100px; 
        }
        .silex-id-1476801285404-14 {
            min-height: 750px; 
            width: 494px; 
            top: 8700px; 
            left: 100px; 
        }
        .silex-id-1476801315276-15 {
            min-height: 799px; 
            width: 540px; 
            top: 9600px; 
            left: 100px; 
        }
        .silex-id-1476801333460-16 {
            min-height: 810px; 
            width: 540px; 
            top: 10600px; 
            left: 100px; 
        }
        .silex-id-1476801357494-17 {
            min-height: 810px; 
            width: 540px; 
            top: 11700px; 
            left: 100px; 
        }
        .silex-id-1476801383917-18 {
            min-height: 720px; 
            width: 540px; 
            top: 12700px; 
            left: 100px; 
        }
        .silex-id-1476799614187-3 {
            min-height: 500px; 
            width: 500px; 
            top: 2156px; 
            left: 250px; 
            background-color: rgba(120,15,200,0.984313725490196); 
        }
        .silex-id-1476797480170-1 {
            min-height: 145px; 
            width: 580px; 
            top: 781px; 
            left: 216px; 
            background-color: rgba(120,15,200,0.1843137254901961); 
        }
        .silex-id-1476798017284-2 {
            min-height: 586px; 
            width: 493px; 
            top: 1313px; 
            left: 278px; 
        }
        .silex-id-1476804090943-26 {
            min-height: 810px; 
            width: 539px; 
            top: 13700px; 
            left: 100px; 
        }
        .silex-id-1476804133267-28 {
            min-height: 797px; 
            width: 540px; 
            top: 14700px; 
            left: 100px; 
        }
        .silex-id-1476804153160-29 {
            min-height: 810px; 
            width: 527px; 
            top: 15600px; 
            left: 100px; 
        }
        .silex-id-1476804168752-30 {
            min-height: 810px; 
            width: 539px; 
            top: 16600px; 
            left: 100px; 
        }
        .silex-id-1476804181241-31 {
            min-height: 792px; 
            width: 540px; 
            top: 17700px; 
            left: 100px; 
        }
        .silex-id-1476804195965-32 {
            min-height: 711px; 
            width: 540px; 
            top: 18800px; 
            left: 100px; 
        }
        .silex-id-1476804215654-33 {
            min-height: 810px; 
            width: 540px; 
            top: 19700px; 
            left: 100px; 
        }
        .silex-id-1476804234635-34 {
            min-height: 810px; 
            width: 540px; 
            top: 20700px; 
            left: 100px; 
        }
        .silex-id-1476804249707-35 {
            min-height: 536px; 
            width: 540px; 
            top: 21700px; 
            left: 100px; 
        }
        .silex-id-1476804266152-36 {
            min-height: 797px; 
            width: 540px; 
            top: 22500px; 
            left: 100px; 
            background-color: rgba(120,15,200,1); 
        }
        .silex-id-1476804319440-37 {
            min-height: 806px; 
            width: 540px; 
            top: 23600px; 
            left: 100px; 
        }
        .silex-id-1476804339466-38 {
            min-height: 771px; 
            width: 540px; 
            top: 24600px; 
            left: 100px; 
        }
        .silex-id-1476804351648-39 {
            min-height: 810px; 
            width: 512px; 
            top: 25700px; 
            left: 100px; 
        }
        .silex-id-1476804363217-40 {
            min-height: 782px; 
            width: 540px; 
            top: 26700px; 
            left: 100px; 
        }
        .silex-id-1476804378682-41 {
            min-height: 661px; 
            width: 457px; 
            top: 27600px; 
            left: 100px; 
        }
        .silex-id-1476804389512-42 {
            min-height: 544px; 
            width: 422px; 
            top: 28400px; 
            left: 100px; 
        }
        .silex-id-1476804399341-43 {
            min-height: 304px; 
            width: 384px; 
            top: 29200px; 
            left: 100px; 
        }
        .silex-id-1476804409531-44 {
            min-height: 810px; 
            width: 540px; 
            top: 29700px; 
            left: 100px; 
        }
        .silex-id-1476804422575-45 {
            min-height: 810px; 
            width: 540px; 
            top: 30800px; 
            left: 100px; 
        }
        .silex-id-1476804433704-46 {
            min-height: 744px; 
            width: 500px; 
            top: 31900px; 
            left: 100px; 
        }
        .silex-id-1476804451029-47 {
            min-height: 810px; 
            width: 534px; 
            top: 32800px; 
            left: 100px; 
        }
        .silex-id-1476804463910-48 {
            min-height: 753px; 
            width: 540px; 
            top: 33800px; 
            left: 100px; 
        }
        .silex-id-1476804476650-49 {
            min-height: 333px; 
            width: 500px; 
            top: 34800px; 
            left: 100px; 
        }
        .silex-id-1476804487533-50 {
            min-height: 778px; 
            width: 540px; 
            top: 35400px; 
            left: 100px; 
        }
        .silex-id-1476804524574-51 {
            min-height: 810px; 
            width: 490px; 
            top: 36400px; 
            left: 100px; 
        }
        .silex-id-1476804538766-52 {
            min-height: 810px; 
            width: 524px; 
            top: 37400px; 
            left: 100px; 
        }
        .silex-id-1476804549646-53 {
            min-height: 810px; 
            width: 539px; 
            top: 38600px; 
            left: 100px; 
        }
        .silex-id-1476804569218-54 {
            min-height: 796px; 
            width: 540px; 
            top: 39600px; 
            left: 100px; 
        }
        .silex-id-1476804578964-55 {
            min-height: 763px; 
            width: 540px; 
            top: 40600px; 
            left: 100px; 
        }
        .silex-id-1476804606800-57 {
            min-height: 809px; 
            width: 540px; 
            top: 41507px; 
            left: 90px; 
        }
        .silex-id-1476804683664-60 {
            min-height: 747px; 
            width: 500px; 
            top: 42600px; 
            left: 100px; 
        }
        .silex-id-1476804711011-62 {
            min-height: 810px; 
            width: 540px; 
            top: 43500px; 
            left: 100px; 
        }
        .silex-id-1476804722022-63 {
            min-height: 750px; 
            width: 500px; 
            top: 44700px; 
            left: 100px; 
        }
        .silex-id-1476804735256-64 {
            min-height: 540px; 
            width: 540px; 
            top: 45800px; 
            left: 100px; 
        }
        .silex-id-1476804746159-65 {
            min-height: 810px; 
            width: 540px; 
            top: 46600px; 
            left: 100px; 
        }
        .silex-id-1476804757400-66 {
            min-height: 810px; 
            width: 540px; 
            top: 47700px; 
            left: 100px; 
        }
        .silex-id-1476804774890-67 {
            min-height: 360px; 
            width: 540px; 
            top: 49091px; 
            left: 100px; 
            background-color: rgba(120,15,200,1); 
        }
    