
        BODY.page-[INTIMATE1] {
            background-image: url('../assets/this%20is%20the%20way%20I%20want%20it%5D') 
        }
    
        .body-initial {
            background-color: rgba(31,34,59,1); 
            background-repeat: no-repeat; 
            background-attachment: fixed; 
            background-size: contain; 
            background-position: center center; 
        }
        .silex-id-1476788490331-4 {
            min-height: 100px; 
            width: 277px; 
            top: 49444px; 
            left: 49171px; 
        }
        .silex-id-1476789654448-7 {
            min-height: 142px; 
            width: 258px; 
            top: 83px; 
            left: 24px; 
        }
    